<% if @group.request_users.include?(current_user) && @group.invited_users.include?(current_user) %>
  <div>
    <%= link_to group_event_path(@group, @event), class: "icons float-left" do %>
      <span><i class="fas fa-arrow-left"></i></span>
    <% end %>
  </div>
  <%= render '/layouts/top_image', image_url: "/assets/undraw_wallet_aym5.png" %>
  
  <%= render '/pay_records/form', pay_record: @pay_record, event: @event, group: @group %>
<% end %>