<% if @group.request_users.include?(current_user) && @group.invited_users.include?(current_user) %>
  <div class="chat-group-form">
    <h3>グループ設定</h3> 
    <%= render partial: 'form', locals: { group: @group } %>
  </div>
<% end %>