<div class="login_image">
    <span class="center"><img src="/assets/undraw_team_spirit_hrr4.png" width="350px"></span>
</div>

<div class="chat-group-form">
  <%= render partial: 'form', locals: { group: @group } %>
</div>