<div class="container">
    <div class="row">
      <div class="col-6">
        <%= link_to user_path(@user), class: "icons float-left" do %>
          <span><i class="fas fa-arrow-left"></i></span>
        <% end %>
      </div>
    </div>
</div>
<div class="head-wrap">
  <h2 class="head">
      Followings<span class="head-point">－友達申請中－</span>
  </h2>
</div>

<%= render "users", users: @followings %>