<div class="head-wrap">
    <h2 class="head">
        使い方<span class="head-point"></span>
    </h2>
</div>

<div class="steps">
  <h2>一緒にグループを作りたい人と友達になろう！</h2>
  <p>「検索」→「ユーザ」より、友達になりたいユーザに友達申請しよう（友達申請には相手のキーが必要です）</p>
  <p>相手が友達申請を承認すれば、準備完了です。</p>
  <div class="center mb-5">
      <%= image_tag "/assets/how_to_1.png", width: "80%" %>
  </div>

  <h2>グループを作成しよう！</h2>
  <p>「グループ」より、新規グループを作成します。</p>
  <p>グループ作成時に友達をグループに招待できます。（自分も招待されるので、グループの「招待中」より別途メンバーになる必要があります。）</p>
  <div class="center mb-5">
      <%= image_tag "/assets/how_to_2.png", width: "80%" %>
  </div>
  <div class="center mb-5">
      <%= image_tag "/assets/how_to_3.png", width: "80%" %>
  </div>

  <h2>イベントを作成しよう！</h2>
  <p>グループページより、グループで予定しているイベント、または実施済みのイベントを作成できます。</p>
  <p>イベントは地図、カレンダーと紐づいて管理できます。</p>
  <div class="center mb-5">
      <%= image_tag "/assets/how_to_4.png", width: "80%" %>
  </div>
  
  <h2>自分だけの素敵なアルバムが完成！</h2>
  <p>他にもイベントページでは、計画に使えるメモ、写真管理、イベント中の精算管理が行えます。</p>
</div>