<div class="container background_top">
    <div class="row catch_copies">
        <div class="col-lg-12 catch_copy_main">
            <h1 class="font-weight-bold">Wediaryで、<br>自分たちだけの旅の記録を。</h1>
            <hr class="divider my-4">
            <p class="text-white-75 font-weight-light mb-5"></p>
            <%= link_to "新しく始める", new_user_path, class: "btn btn-primary btn-xl js-scroll-trigger" %>
            <%= link_to "ログイン", login_path, class: "btn btn-primary btn-xl js-scroll-trigger" %>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="container">
        <div class="row catch_copies">
            <div class="col-lg-5 col-md-3 catch_copy_image fadein">
                <img src="assets/undraw_photo_sharing_1_85vy.png" width="100%">
            </div>
            <div class="col-lg-7 col-md-9 fadein catch_copy_box">
                <div>
                    <h1 class="font-weight-bold catch_copy">グループ内で写真の共有</h1>
                    <hr class="divider my-4">
                    <div class="mt-5">
                        <h4>お気に入りの写真を投稿し、<br>グループだけのアルバムを作れます。</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row catch_copies">
            <div class="col-lg-5 col-md-3 catch_copy_image fadein">
                <img src="assets/undraw_world_9iqb.png" width="100%">
            </div>
            <div class="col-lg-7 col-md-9 fadein catch_copy_box">
                <div>
                    <h1 class="font-weight-bold catch_copy">地図、カレンダーと紐づけて<br>イベントの記録を管理</h1>
                    <hr class="divider my-4">
                    <div class="mt-5">
                        <h4>「いつ」、「どこで」、「だれと」を、<br>より詳細な記録が簡単に残せます。</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row catch_copies">
            <div class="col-lg-5 col-md-3 catch_copy_image fadein">
                <img src="assets/undraw_printing_invoices_5r4r.png" width="100%">
            </div>
            <div class="col-lg-7 col-md-9 fadein catch_copy_box">
                <div>
                    <h1 class="font-weight-bold catch_copy">計画から精算記録まで<br>イベントの共有、記録</h1>
                    <hr class="divider my-4">
                    <div class="mt-5">
                        <h4>煩わしいアイデア集約や精算管理が、<br>このアプリ一つでできます。</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
