    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to Wediary</h1>
        <p class="lead">Let's start</p>
        <%= link_to "sign up", new_user_path, class: "btn btn-success" %>
        <%= link_to "sign in", new_session_path, class: "btn btn-primary" %>
    </div>