<!--大きいSwiper-->
  <div class="swiper-container">
  	<div class="swiper-wrapper">
        <% photos.each do |photo| %>
              <div id="photos-<%= photo.id %>"class="swiper-slide mb-1">
                  <span><%= image_tag photo.image.url(:thumb), class: "mb-1 photo-fluid" %></span>
                  <%= link_to group_event_photo_path(event.group, event, photo), method: :delete, title: "destroy", class:"icons float-right" do %>
                    <span><i class="fa fa-xs fa-trash-alt"></i></span>
                  <% end %>
              </div> 
        <% end %>
  	</div>
  	<div class="swiper-button-prev"></div>
  	<div class="swiper-button-next"></div>
    <div class="container">
	    <div class="thumblist row"></div>
    </div>
  </div>
  <div class="row">
    <%= paginate photos %>
  </div>
    <script>
      const thumbClass = 'thumblist-item';
      const mytap = window.ontouchstart === null?"touchstart":"click";
      var mySwiper = new Swiper('.swiper-container', {
        autoHeight: true,
        loop: true,
        spaceBetween: 5,
      	navigation: {
      		nextEl: '.swiper-button-next',
      		prevEl: '.swiper-button-prev'
      	},
        pagination:{
          el:'.thumblist',
          type:'custom',
          renderCustom: function (swiper, current, total) {
            const slides = swiper.slides;
            let html = '';
            for( let i = 0 ; i < total; i++ ){
              if( current == i+1 ){
                html = html + `<div class="${thumbClass} current col-sm-3" data-slideto="${i}">${slides[i].innerHTML}</div>`;
              }else{
                html = html + `<div class="${thumbClass} col-sm-3" data-slideto="${i}">${slides[i].innerHTML}</div>`;
              }
            }
            return html;
          }
        }
      });
      
      const clickThumbs = (()=>{
        const thumbItems = document.getElementsByClassName(thumbClass);
        for(let i = 0; i < thumbItems.length ; i ++){
          thumbItems[i].addEventListener(mytap,((e)=>{
            let index = e.currentTarget.dataset.slideto;
            mySwiper.slideTo(index, 1500, true);
            // autoplayオプションを使わない場合は、以下をコメントアウトをする
          }),false);
        }
      });
  
      clickThumbs();
      mySwiper.on('slideChange',clickThumbs);
    </script>
</div>