// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-info {
    margin-top: 30px;
}

.event_history {
    margin: 0 auto;
    padding: 0 auto;
    height: 400px;
    width: 400px;
    text-align: center;
    margin-bottom: 50px;
}


.event-status {
  padding-bottom: 20px;
}
.event-status-name {
  font-size: 25px;
}


.calendar_eventname {
  font-size: 0.5rem !important ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#new_record {
  font-size: 15px;
  text-align: left;
}