// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-info {
    margin-top:30px;
}

.event_history {
    margin: 0 auto;
    padding: 0 auto;
    height:400px;
    width:400px;
    text-align: center;
    margin-bottom: 50px;
}
