// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-info {
    margin-top:30px;
}

.event_history {
    margin-right: auto;
    padding:0;
    height:400px;
    width:400px;
    border:solid;
    border-color:grey;
    border-radius:5px;
}

.event_history2 {
    margin-right: auto;
    padding:0;
    height:400px;
    width:400px;
    color:grey;
}
