
.group_show {
    margin-top:20px;
}

.new_event_btn {
    width:240px;
    height:100px;
    margin:0 auto;
}

.mt-2 {
    margin-top:10px;
}

.box {
    display: none;
}

.show {
    display: block;
}