// Place all the styles related to the pay_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payments_pc {
display:block;
}
.payments_sc {
display:none;  
}


@media only screen and (max-width: 768px) {
  .payments_pc {
    display:none;
  }
  .payments_sc {
    display:block;  
  }
}