.simple-calendar {
  .day {
    max-width: 50px;
    font-size: 0.5rem !important ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}