// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background_top {
    // height:700px;
    background-image: url("undraw_having_fun_iais.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.catch_copy_main {
    margin-top:250px;
    margin-bottom:250px;
    text-align:left;
    font-size:50px;
}

@media only screen and (max-width: 991px) {
    .catch_copy_main {
        margin-top:150px;
        margin-bottom:150px;
    }
}

@media only screen and (max-width: 767px) {
    .catch_copy_main {
        margin-top:100px;
        margin-bottom:100px;
    }
}

.catch_copy {
    text-align:left;
    font-size:30px;
}

.catch_copies {
    margin-bottom:100px;
}

.catch_copy_box {
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}

.catch_copy_image {
    display: flex;
    justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
}