// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: white !important;
}

.user-summary {
    text-align: left;
    margin-bottom: 20px;
}

.follower-suggestions {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.image-circle {
    border-radius: 50%;
}

.profile-status {
    max-width: 360px;
    margin-bottom: 30px;
    // float: left;
}

.profile-posts {
    margin-top: 50px;
}

.btn-custom {
    background: transparent;
    border: 2px solid #ddd !important;
    border-radius: 4px !important;
}

.btn-custom:hover {
    background:#ddd !important;
}

.user_row {
    border-top: 1px solid grey;
}

.user-picture, .user-followbtn {
    margin-top:10px;
}

.user-name {
    margin-top:15px;
}

.profile_side {
    margin:0 auto;
    text-align: center;
    padding-top:60px;
}